<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>iq-wiki: <%= "#{@title}" %></title>
	
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="main" charset="utf-8"/>
</head>
<body>
	
	<%= yield %>
</body>
<footer>
	<hr/>
	iqwiki - (c) innoQ Deutschland GmbH - see https://github.com/innoq/iqwiki
</footer>

<script src="js/jquery-1.7.2.js"></script>
<script src="js/key_handlers.js"></script>
</html>