<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <title>iQwiki - <%= "#{@node.title}"%></title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <%= yield %>
    <footer>
      <hr/>
      iQwiki - &copy; innoQ Deutschland GmbH - see https://github.com/innoq/iqwiki
    </footer>
  </body>

<script src="js/jquery-1.7.2.js"></script>
<script src="js/key_handlers.js"></script>
</html>
