<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>iq-wiki: <%= "#{@node.title}" %></title>
	
	
	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="main" charset="utf-8"/>
</head>
<body>
	<%= yield %>
	<div class="container-fluid">
	<footer>
		<hr/>
		iqwiki - (c) innoQ Deutschland GmbH - see https://github.com/innoq/iqwiki
	</footer>
	</div>
</body>



<script src="js/jquery-1.7.2.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/key_handlers.js"></script>

</html>