
<div class="page_navigation">
<p>
<a href="/">Index</a> |
<a href="/new_page.html" target="__new">New Page</a> |
<a href="<%= @edit_url %>" target="__new">Edit</a>
</p>
</div>

<div class="content">
<%= @content %>
</div>

<div id="navigation">
</div>